# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

# Run on pushes to the main branch
trigger:
- main

# Azure hosted agents are used to run the pipeline. See https://azure.microsoft.com/en-us/services/devops/pipelines/agents/ for more information.
pool:
  vmImage: ubuntu-latest

# Jobs for the implicit stage. See https://learn.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml for more information on stages and jobs.
jobs:
- job: validate_and_plan
  displayName: 'Validate and Plan'
  steps:
  - task: TerraformInstaller@1
    displayName: 'Install Terraform'
    inputs:
      terraformVersion: '1.14.5'  # Specify the Terraform version you want to use
  
  # Run bash script using tasks. See https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/reference/bash-v3?view=azure-pipelines
  - task: Bash@3
    displayName: 'Install Terragrunt'
    inputs:
      targetType: 'inline'
      script: |
        wget https://github.com/gruntwork-io/terragrunt/releases/download/v0.99.2/terragrunt_linux_amd64
        mv terragrunt_linux_amd64 terragrunt
        chmod +x terragrunt
        sudo mv terragrunt /usr/local/bin
  
  # "script" runs a bash in Linux and a cmd in Windows. "bash" can also be used to run a bash script.
  # See https://learn.microsoft.com/en-us/azure/devops/pipelines/yaml-schema/steps-script?view=azure-pipelines and https://learn.microsoft.com/en-us/azure/devops/pipelines/yaml-schema/steps-bash?view=azure-pipelines
  - script: |
      terraform --version
      terragrunt --version
    displayName: 'Print versions'

  # Authenticate to Azure using Azure CLI task. This will set environment variables for Terraform/Terragrunt to use.
  - task: AzureCLI@2
    displayName: Authenticate Terraform
    inputs:
      scriptType: bash
      scriptLocation: inlineScript
      azureSubscription: azure-pipelines-connection  # This is the name of the service connection you created in Azure DevOps. It should have permissions to access your Azure resources.
      addSpnToEnvironment: true
      inlineScript: |
        echo "##vso[task.setvariable variable=ARM_SUBSCRIPTION_ID;isreadonly=true]$(az account show --query id --output tsv)"
        echo "##vso[task.setvariable variable=ARM_CLIENT_ID;isreadonly=true]$servicePrincipalId"
        echo "##vso[task.setvariable variable=ARM_TENANT_ID;isreadonly=true]$tenantId"

  # Checkout code using the built-in checkout task. See https://learn.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml for more information on checking out code from GitHub.
  - checkout: self
    displayName: 'Checkout code'
  
  # Validate Terrgrunt configuration.
  - script: |
      env
      cd environments/dev/spaincentral
      # terragrunt run --all validate
    displayName: 'Terragrunt validate'
  
# - job: deploy
#   displayName: 'Deploy'
#   dependsOn: validate_and_plan
#   steps:
#   - script: echo "Deploying to Azure"
#     displayName: 'Deploy to Azure'
