# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

# Run on pushes to the main branch
trigger:
- main

# Azure hosted agents are used to run the pipeline. See https://azure.microsoft.com/en-us/services/devops/pipelines/agents/ for more information.
pool:
  vmImage: ubuntu-latest

jobs:
- job: validate_and_plan
  displayName: 'Validate and Plan'
  steps:
  - checkout: self
    displayName: 'Checkout code'
  
  - task: AzureCLI@2
    displayName: 'Validate and Plan with Terraform'
    inputs:
      azureSubscription: 'azure-pipelines-connection'  # Service connection name
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
        az account subscription list

- job: deploy
  displayName: 'Deploy'
  dependsOn: validate_and_plan
  steps:
  - script: echo "Deploying to Azure"
    displayName: 'Deploy to Azure'

  # - task: AzureCLI@2
  #   inputs:
  #     azureSubscription: 'azure-terraform-connection'  # Service connection name
  #     scriptType: 'bash'
  #     scriptLocation: 'inlineScript'
  #     inlineScript: |
  #       terraform init
  #       terraform plan -out=tfplan
