# This workflow will run CICD agains Azure using Terragrunt/Terraform.
name: Azure CICD Workflow

on:
  # Manual workflow
  workflow_dispatch:

# Permissions for the workflow
permissions:
  contents: read
  id-token: write  # Required for OIDC authentication

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    
    # Use mise.toml to specify versions.
    # - name: Install Terragrunt and Terraform
    #   uses: gruntwork-io/terragrunt-action@v3

    - name: Check terragrunt HCL
      uses: gruntwork-io/terragrunt-action@v3
      with:
        tg_dir: 'environments/dev/spaincentral'
        tg_command: 'stack run validate'
